*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-primary: #e2e2e2;
    --color-accent: #2980b9;
    --color-hover: #3498db;
    --color-electric: #f6e58d;
    --color-dark: #3b2d41;
    --color-bug: #a7c957;
    --color-fairy: #ffa6c1;
    --color-dragon: #ffadad;
    --color-fighting: #ddb892;
    --color-fire: #dc2f02;
    --color-flying: #bee1e6;
    --color-ghost: #c8b6ff;
    --color-grass: #02863e;
    --color-ground: #d4a276;
    --color-ice: #dfe7fd;
    --color-normal: #eee2df;
    --color-posion: #c77dff;
    --color-psychic: #f0a6ca;
    --color-rock: #b7b7a4;
    --color-steel: #edf2f4;
    --color-water: #48cae4;
}

html{
    font-family: sans-serif;
    scroll-behavior: smooth;
}

ul{
    list-style: none;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
}

#search input {
    height: 30px;
    padding: 3px 5px;
    border: 1px solid black;
    border-radius: 8px;
    transition: all .3s ease;
}

#search input:focus {
    outline: none;
    border: 1px solid rgba(1, 1, 1, 0);
    border-bottom: solid 1px black;
    border-radius: 0;
}

#search button {
    background-color: var(--color-accent);
    color: white;
    border: none;
    border-radius: 8px;
    padding: 5px;
    height: 30px;
    transition: all .3s ease;
}

#search button:hover {
    background-color: var(--color-hover);
}

.card{
    background-color: var(--color-primary);
    border-radius: 8px;
    margin: 16px;
    padding: 10px;
    transition: all .3s ease;
}

.card-electric {
    background-color: var(--color-electric);
}

.card-bug {
    background-color: var(--color-bug);
}

.card-dark {
    background-color: var(--color-dark);
    color: white;
}

.card-fairy {
    background-color: var(--color-fairy);
}

.card-dragon {
    background-color: var(--color-dragon);
}

.card-fighting {
    background-color: var(--color-fighting);
}

.card-fire {
    background-color: var(--color-fire);
    color: white;
}

.card-flying {
    background-color: var(--color-flying);
}

.card-ghost {
    background-color: var(--color-ghost);
}

.card-grass {
    background-color: var(--color-grass);
    color: white;
}

.card-ground {
    background-color: var(--color-ground);
}

.card-ice {
    background-color: var(--color-ice);
}

.card-normal {
    background-color: var(--color-normal);
}

.card-poison {
    background-color: var(--color-posion);
}

.card-psychic {
    background-color: var(--color-psychic);
}

.card-rock {
    background-color: var(--color-rock);
}

.card-steel {
    background-color: var(--color-steel);
}

.card-water {
    background-color: var(--color-water);
}

.card-head {
    display: flex;
    align-items: center;
    gap: 16px;
}

.types-container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.poke-name::first-letter {
    text-transform: capitalize;
}

.poke-type::first-letter {
    text-transform: capitalize;
}

.card-body {
    display: flex;
    gap: 16px;
    padding: 6px;
}

#ability-list > li::first-letter {
    text-transform: capitalize;
}

.card-footer {
    padding: 6px;
}

#moves-container {
    max-height: 200px;
    overflow-y: scroll;
    padding: 4px;
    border: 1px solid darkgray;
    border-radius: 8px;
}

#moves-container > li::first-letter {
    text-transform: capitalize;
}

#moves-container::-webkit-scrollbar{
    width: 6px;
    opacity: 1;
}
#moves-container::-webkit-scrollbar-track{
    opacity: 0;
}
#moves-container::-webkit-scrollbar-thumb{
    opacity: 1;
    background-color: gray;
    border-radius: 8px;
}
