:root{
    --color-orange: #fab1a0;
    --color-form: #81ecec;
    --color-button: #2ecc71;
}

html{
    font-family: sans-serif;
}

.container{
    display: flex;
    justify-content: center;
}

form{
    background-color: var(--color-form);
    border-radius: 8px;
    padding: 2rem;
    margin-bottom: 2rem;
}

form input{
    height: 1.6rem;
    border-radius: 8px;
    border: solid 1px black;
    padding: 3px;
}

form button{
    background-color: var(--color-button);
    border: none;
    border-radius: 4px;
    padding: .5rem;
    font-weight: 700;
    transition: all .3s ease;
}

form button:hover {
    box-shadow: inset 0px 0px 5px;
}

.ingredients{
    display: block;
    margin: 5px 0;
}

#title::first-letter{
    text-transform: capitalize;
}

#ingPrint > li::first-letter {
    text-transform: capitalize;
}

.card {
    background-color: var(--color-orange);
    padding: 2px 15px;
    margin: 5px;
    border-radius: 8px;
}